header, .project:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #1b89bc;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: #065b83;
  text-decoration: underline;
}

button:hover {
  opacity: 50%;
  cursor: pointer;
}

button:active {
  opacity: 75%;
}

.dollar-amount {
  color: #056605;
  font-weight: bold;
  margin-left: -5px;
}

.darkCard {

  background-color: #1b89bc;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 15px;
  color: white;
}

.betterTextColor {
  color: #eaeaea;
}

body {
  background-image: url('https://wallpapers.com/images/featured/technology-background-w65hwkhmusntb0j9.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

header {
  background: linear-gradient(to right, #000133, maroon);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
